<form name="$ctrl.signUpForm" novalidate class="form-horizontal">

  <!-- Username -->
  <div class="control is-horizontal">
    <div class="control-label">
      <label class="label">Username</label>
    </div>
    <div class="control has-icon">
      <input class="input {{$ctrl.inputClass}}" type="text" placeholder="Username" 
             name="username" ng-model="$ctrl.username" required autofocus>
      <i class="fa fa-user"></i>
    </div>
  </div>

  <!-- Password -->
  <div class="control is-horizontal">
    <div class="control-label">
      <label class="label">Password</label>
    </div>
    <div class="control has-icon">
      <input class="input {{$ctrl.inputClass}}" type="password" placeholder="Password" 
             name="password" ng-model="$ctrl.password" required>
      <i class="fa fa-lock"></i>
    </div>
  </div>

  <div class="columns is-mobile">

    <!-- Error Message -->
    <div class="column">
      <p class="control is-pulled-left">
        <span class="help is-danger">{{$ctrl.error}}</span>
      </p>
    </div>

    <!-- Buttons -->    
    <div class="column">
      <p class="control is-pulled-right">

        <!-- Sign In -->
        <button class="button is-primary" 
                ng-click="$ctrl.onSignIn()"
                ng-class="{'is-loading': $ctrl.signingIn}"
                ng-disabled="$ctrl.signUpForm.$invalid">
          Sign In
        </button>

      </p>
    </div>


</form>