@import 'fonts';
@import 'navbar';
@import 'modal';

html, body, div[ng-view] {
    height: 100%;
}

html {
    overflow-y: inherit;
    overflow-x: auto;
}

body {
    min-width: 360px;
    background-color: white;
}