@import 'fonts';
@import 'navbar';
@import 'modal';

html, body, div[ng-view] {
    height: 100%;
	font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: inherit;
}

.title:not[.fa], .serif {
	font-family: 'Roboto Slab', serif;
}
