<form class="form-horizontal">

  <!-- First Name -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="First Name" ng-model="$ctrl.firstName">
    </div>
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Last Name" ng-model="$ctrl.lastName">
    </div>
  </div>

  <!-- Update Button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
      
        <button class="btn btn-primary pull-right" type="submit"
          ng-show="$ctrl.onSubmit != null" 
          ng-click="$ctrl.onSubmit({name: { first: $ctrl.firstName, last: $ctrl.lastName}})">
          <i class="fa fa-pencil"></i>
          Update Profile
        </button>

        <button class="btn btn-default pad-right" tabindex="-1"
          ng-show="$ctrl.onSubmit != null" 
          ng-click="$ctrl.onSubmit({name: null})">
          <i class="fa fa-pencil"></i>
          Close
        </button>

      </div>
    </div>
  </div>
</form>