html {
    overflow-y: auto;
}

main, .app, .app > div, .is-fullheight {
    height: 100%;
}

.sign-in-page .sign-in-form {
    width: 100%;
    max-width: 360px;
}

.sign-in-page .sign-in-form .fields {
    padding: 1.25rem 0;
}

.justify-center {
    justify-content: center;
}

.button-bar {
    justify-content: flex-end;
}

.is-padded-right {
    padding-right: 10px;
}

.is-fixed {
    position: fixed;
    width: 100%;
}

.hero.is-fullheight > .hero-body > .container {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.dashboard-page .dashboard-options .box {
    min-width: 200px;
    max-width: 100%;
    opacity: .6;
    transition: opacity .3s;
}

.dashboard-page .dashboard-options .box:hover {
    opacity: 1;
}

.dashboard-page .dashboard-options .title {
    color: #363636;
}
