html {
    overflow-y: auto;
}

main, .app, .app > div, .is-fullheight {
    height: 100%;
}

.app > div {
    padding-top: 50px;
}

.animate-height {
    min-height: 0vh;
    transition: .5s;
}

.sign-in-page .sign-in-form {
    width: 100%;
    max-width: 360px;
}

.sign-in-page .sign-in-form .fields {
    padding: 1.25rem 0;
}

.justify-center {
    justify-content: center;
}

.button-bar {
    justify-content: flex-end;
}

.is-padded-right {
    padding-right: 10px;
}

.is-margin-left {
    margin-left: 10px;
}

.is-margin-right {
    margin-right: 10px;
}

.is-fixed {
    position: fixed;
    width: 100%;
}

.no-flex {
    flex: 0;
}

.is-fullwidth {
    width: 100%;
}

.hero-body > .section {
    background: inherit;
}

.hero.is-fullheight > .hero-body > .container {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.dashboard-page .dashboard-options .box {
    min-width: 200px;
    max-width: 100%;
    opacity: .6;
    transition: opacity .3s;
}

.dashboard-page .dashboard-options .box:hover {
    opacity: 1;
}

.dashboard-page .dashboard-options .title {
    color: #363636;
}

.collections-page .collections-section {
    padding-top: 0;
    justify-content: center;
}

.collections-page .collections-filter {
    flex: 1;
}
