html {
    overflow-y: auto;
}

main, .app, .app > div, .is-fullheight {
    height: 100%;
}

.sign-in-page .sign-in-form {
    width: 100%;
    max-width: 360px;
}

.sign-in-page .sign-in-form .fields {
    padding: 1.25rem 0;
}

.justify-center {
    justify-content: center;
}

.button-bar {
    justify-content: flex-end;
}

.is-padded-right {
    padding-right: 10px;
}
