html
    head
        title='Jangle'
        meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
        link( rel="icon" href="/img/jangle-token.png")

        link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" )
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" )
        link( rel="stylesheet" href="/global.css" )
        base( href="/" )
    body

        main

        script( type="text/javascript" src="/Main.js")

        script( type="text/javascript").
            var flags = !{flags}

        script( type="text/javascript" ).
            var main = document.querySelector('main')
            var app = Elm.Main.embed(main, flags)
