<navbar></navbar>
<div class="container" ng-init="$ctrl.getAllCollections()">
  <div class="section">
    <div class="columns is-mobile is-multiline">

      <!-- Title -->
      <div class="column is-8">
        <h3 class="title is-3">Collections</h3>
      </div>

      <!-- 'Add Collection' Button -->
      <div class="column is-4">
        <a class="button is-pulled-right is-medium is-outlined"
           ng-click="$ctrl.addNewCollection()">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>Add Collection</span>
        </a>
      </div>

      <!-- List of collections -->
      <div class="column is-4-desktop is-6-tablet is-12-mobile" 
           ng-repeat="collection in $ctrl.collectionServiceData.collections">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">{{collection.name}}</p>
          </header>
          <div class="card-content">
            <div class="content">{{collection.description}}</div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" ng-click="$ctrl.editCollection(collection)">
              Edit Collection
            </a>
            <a class="card-footer-item" ng-click="$ctrl.editDocuments(collection)">
              Edit Documents
            </a>
          </footer>
        </div>
      </div>

    </div>
  </div>
</div>

<modal title="Edit Collection"
       on-submit="$ctrl.getAllCollections()" 
       show-modal="$ctrl.showEditModal">
  <collection-form on-success="$ctrl.showEditModal = false"></collection-form>
</modal>