<navbar></navbar>
<section class="hero is-primary is-full-height-minus-nav is-bold">
  <div class="hero-body">
    <div class="container">

    <div class="is-flex">
    
      <div class="icon-column">
        <i class="fa fa-book"></i>
      </div>
      <div class="text-column">
        <h1 class="title">
          Collections
        </h1>
        <h2 class="subtitle">
          Lists of documents
        </h2>
      </div>
    </div>

    <!-- Collection List -->
    <div class="collection-list" ng-init="$ctrl.getAllCollections()">
      <div class="section">
        <div class="columns is-mobile is-multiline">
          <!-- List of collections -->
          <div class="column is-4-desktop is-6-tablet is-12-mobile" 
               ng-repeat="collection in $ctrl.collectionServiceData.collections">

            <a ng-click="$ctrl.editCollection(collection)">
              <div class="box is-full-height">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      
                      <h3><strong>{{collection.name}}</strong></h3>
                      <hr>
                      <h6>{{collection.description}}</h6>

                    </div>
                  </div>
                </article>
              </div>
            </a>           
            
          </div>      

          <!-- Add New -->
          <div class="column is-4-desktop is-6-tablet is-12-mobile add-new-box">

            <a ng-click="$ctrl.addNewCollection()">
              <div class="box is-full-height">
                <article class="media is-full-height is-flex">

                    <div class="content">
                      <h3><strong>Add New Collection</strong></h3>
                    </div>

                </article>
              </div>
            </a>           
            
          </div>

        </div>
      </div>
    </div>
  </div>

  </div>
</section>
<modal title="Edit Collection"
       on-submit="$ctrl.getAllCollections()" 
       show-modal="$ctrl.showEditModal">
  <collection-form on-success="$ctrl.showEditModal = false"></collection-form>
</modal>