<nav class="nav has-shadow" ng-init="$ctrl.getCachedUser()">
  <div class="container">

    <div class="nav-left">

      <!-- Title -->
      <img class="nav-image" src="/static/img/icon.png" width="50" height="50">

      <a ng-repeat="link in $ctrl.links"
         class="nav-item is-tab"
         ng-class="{'is-active': $ctrl.isActiveLink(link.link), 'is-disabled': link.disabled}"
         ng-href="{{link.link}}"
         ng-disabled="link.disabled">
        <i class="fa {{link.icon}}"></i>
        <span class="is-hidden-mobile media-right" ng-bind="link.label"></span>
      </a>

    </div>

    <div class="nav-right">

      <a class="nav-item is-tab is-full-height"
         ng-class="{'is-active': $ctrl.isActiveLink('/user')}"
         ng-click="$ctrl.onUserLinkClicked()">
        <i class="fa fa-sign-out"></i>
        <span class="is-hidden-mobile media-right" >Sign out</span>
      </a>

    </div>

  </div>
</nav>