<nav class="nav has-shadow" ng-init="$ctrl.getCachedUser()">
  <div class="container">

    <div class="nav-left">

      <a ng-repeat="link in $ctrl.links"
         class="nav-item is-tab"
         ng-class="{'is-active': $ctrl.isActiveLink(link.link)}"
         ng-href="{{link.link}}">
        <i class="fa {{link.icon}}"></i>
        <span style="padding-left: 10px" class="is-hidden-mobile" ng-bind="link.label"></span>
      </a>

    </div>

    <div class="nav-right">

      <a class="nav-item is-tab is-full-height"
         ng-class="{'is-active': $ctrl.isActiveLink('/user')}"
         ng-click="$ctrl.onUserLinkClicked()">
        <i class="fa fa-user"></i>
        <span style="padding-left: 10px" class="is-hidden-mobile" >Sign out {{$ctrl.userServiceData.user.username}}</span>
      </a>

    </div>

  </div>
</nav>