.card {

    width: 100%;
    padding: 1.5rem;
    padding-top: 2rem;
    background-color: white;
    color: $color__dark-gray;
    border: solid 1px rgba(10, 10, 10, 0.3);
    box-shadow: 0 4px 8px 4px rgba(10, 10, 10, .05);
    border-radius: 2px;

    &__title {

        font-weight: bold;
        font-size: 2.25rem;
        line-height: 1.2;

        &--centered {
            text-align: center;
        }

    }

    &__subtitle {
        margin-top: 1rem;
    }

}
