.dashboard {

    $dashboard-max-width: 720px;

    flex: 1;
    padding: 1rem;
    padding-top: 1.25rem; 
    margin: 0 auto;
    width: 100%;
    max-width: $dashboard-max-width;

    &__header {

        &--right {
            text-align: right;
        }

    }

    &__title {
        font-size: 2rem;
        font-weight: normal;
    }

    &__subtitle {
        color: $color__dark-gray;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}
