.list {

    margin-top: 2rem;

    &__title {
        font-weight: normal;
        font-size: 2rem;
    }

    &__actions {
        padding-top: 2rem;
    }

    &__table {
        display: block;
        margin-top: 1rem;
        font-size: 1.25rem;
        border: solid 1px #ddd;
        border-bottom: none;
    }
    
    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: solid 1px #ddd;

        &--header {
            font-weight: normal;
        }
    }
    
    &__checkbox {
        display: flex;
    }

    &__cell {
        text-align: left;
        padding: .5rem;

        &--checkbox {
            color: #4d4d4d;
        }
    }

}
