.nav {

    $dark-color: $color__dark-gray;

    background-color: rgba(0,0,0,0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &--light {
        color: $dark-color;

        .nav__link {
            color: $dark-color;

            &:before {
                background-color: $dark-color;
            }
        }

        .nav__header {
            background-color: white;
        }

        .nav__options {
            background-color: white;
        }

        .nav__footer {
            background-color: white;
        }

        .nav__menu-icon {
            border-color: $dark-color;
            &:before {
                background-color: $dark-color;
            }
        }
    }

    &__header {
        font-size: 2rem;
        background-color: $dark-color;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        border-bottom: solid 1px white;
        min-height: 4rem;
    }

    &__brand {
        transition: opacity .3s ease-in-out;
        &:hover, &:focus {
            opacity: .6;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: transform .3s ease-in-out;
        transform: translateX(-100%);

        &--expanded {
            transform: none;
        }
    }

    &__options {
        flex: 1;
        background-color: $dark-color;
        overflow: auto;
        padding-bottom: 1.5rem;
    }

    &__menu-button {
        display: block;
        background: none;
        border: none;
        padding: .5rem;
        width: unset;
        margin-right: 1rem;
        cursor: pointer;
        transition: opacity .3s ease-in-out;
        box-sizing: border-box;

        &:hover, &:focus {
            opacity: .6;
        }
    }

    &__menu-icon {

        $line-thickness: 2px;

        position: relative;
        width: 2rem;
        display: block;
        height: 1.5rem;
        background: rgba(0,0,0,0);
        border-top: solid $line-thickness white;
        border-bottom: solid $line-thickness white;
        box-sizing: border-box;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: $line-thickness;
            background-color: white;
        }
    }

    &__option {
        display: block;
        padding: 0 1rem;
        padding-top: 1.5rem;
    }

    &__option-header {
        font-size: 1.75rem;
        display: block;
        opacity: .6;
        padding-bottom: .5rem;
    }

    &__link {

        position: relative;
        font-weight: lighter;
        cursor: pointer;
        color: white;
        display: inline-block;
        padding: 0;
        margin-top: .5rem;
        font-size: 1.25rem;
        text-decoration: none;
        transform-origin: left;
        border: none;
        background: rgba(0,0,0,0);
        font-family: inherit;
        padding-bottom: .5em;

        &:before {
            transition: transform .3s ease-in-out;
            display: block;
            content: '';
            height: 2px;
            background-color: white;
            transform: scaleX(0);
            transform-origin: left;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        &:hover, &:focus {
            outline: none;
            &:before {
                transform: none;
            }
        }

        &--disabled {
            opacity: .6;
            cursor: not-allowed;
            &:hover, &focus {
                transform: none;
            }
        }
    }

    &__footer {
        background-color: $dark-color;
        min-height: 2rem;
        padding: .5rem 1rem;
        box-sizing: border-box;
        border-top: solid 1px white;
    }

    @include respond-to(small) {

        min-width: 15em;
        width: unset;
        position: relative;
        height: 100vh;

        &__menu-button {
            display: none;
        }

        &__content {
            transform: none;
        }

        &__header {
            padding: 1rem;
            font-size: 1.5rem;
            min-height: 1.75rem;
        }

        &__option {
            padding-top: 1.25rem;
        }

        &__option-header {
            font-size: 1.25rem;
        }

        &__link {
            font-size: 1rem;
        }
    }

}
