.page {

    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;

    &--full-height {
        min-height: 100vh;
    }

    &--has-nav {
        min-height: 100vh;
        padding: 0;
        padding-top: 5rem;
    }

    &--center-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: 2rem;
        text-align: center;
    }
    
    &__link {
        margin-top: 1rem;
        font-size: .75em;
        text-decoration: none;
        color: #888;
    }

    @include respond-to(small) {
        &--has-nav {
            padding: 0;
            display: flex;
        }
    }

}
