.page {
    padding: 1rem;

    &--dark {
        background-color: $color__dark-gray;
        color: white;
    }

    &--full-height {
        min-height: 100vh;
    }

    &--has-nav {
        min-height: 100vh;
        padding-top: 6rem;
    }

    &--center-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include respond-to(small) {
        &--has-nav {
            padding: 0;
            display: flex;
        }
        &--main-section {
            flex: 1;
            padding: 1rem;
        }
    }

}
