.page {
    padding: 1rem;

    &--dark {
        background-color: $color__dark-gray;
        color: white;
    }

    &--full-height {
        min-height: 100vh;
    }

    &--center-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
