doctype html
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
    meta( http-equiv="X-UA-Compatible", content="ie=edge" )
    link( rel="icon", href="/public/favicon.png")
    link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" )
    link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
    link( rel="stylesheet" href="/public/main.css" )
    title="Jangle"
  body
    div#app
    script( src="/public/main.js" )
    script( type="text/javascript" ).
      var flags = !{ flags }

      flags.user = (flags.needsSetup)
        ? null
        : JSON.parse(localStorage.context || null)

      var app = Elm.Main.embed(document.getElementById('app'), flags)
      
      app.ports.storeContext.subscribe(function(context) {
        localStorage.context = context
      })

      window.addEventListener("storage", function(event) {
        if (event.storageArea === localStorage && event.key === "context") {
          app.ports.onContextChange.send(event.newValue)
        }
      }, false)
